[Desktop Entry]
Type=Application
Name=RusticSort
Comment=Smart File Organizer
Exec=RusticSort
Icon=com.mahmoud.rusticsort
Terminal=false
Categories=Utility;FileTools;
Keywords=file;organizer;sort;cleanup;
